<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <h1>Profile:</h1>
    <p>
        Hello, My name is Cuong ! <br>
        I am 24 years old <br>
        I live in Ha Noi <br>
        I work as a professional graphic designer at DGW company <br>
        My hobbies are reading book, listening to music and hanging out with friends <br>
        ...........
    </p>
    <h5> <em>Thank you for viewing my profile page !!</em></h5>
</body>
</html>