<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poem</title>
</head>
<body>
        <h1>
            Bài thơ số {{index}}
        </h1>
        <h3>{{poems[index].title}}</h3>
        <p>    
            {{poems[index].content}}
        </p>
        {% if poems[index].gender == "male" %}
            <h5>Mr. {{poems[index].author}}</h5>
        {% else %}
            <h5>Ms. {{poems[index].author}}</h5>
        {% endif %}
        <hr>

 
</body>
</html>