<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {%if service.gender == "male"%}
            <img src="/static/images/male.png"> <br>
        {%else%}            
            <img src="/static/images/female.png"> <br>
        {%endif%}
        <p>Id: {{service.age}}</p>
        <P>Name: {{service.name}}</P>
        <P>Age: {{service.age}}</P>
        <P>Address: {{service.address}}</P>
        <P>Gender: {{service.gender}}</P>
        {%if service.avalable == True%}
            <P>Available: Yes</P>
        {%else%}
            <p>Available: No</p>
        {%endif%}
        <a href="/delete/{{ service._id }}">Delete person</a>        
        <a href="/update/{{ service._id }}">Update information</a>
    <p>----------------------------------------------------------------------------</p>
</body>
</html>